<head th:fragment="head">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>统一身份认证 - 自助服务</title>
<link th:href="${contextPath+'/vendor/bootstrap/css/bootstrap.min.css'}" rel="stylesheet" />
<link th:href="${contextPath+'/vendor/metisMenu/metisMenu.min.css'}" rel="stylesheet" />
<link th:href="${contextPath+'/uaa.css'}" rel="stylesheet" />
<link th:href="${contextPath+'/vendor/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>